.card-title {
    text-align: LEFT !important;
    font-weight: bold;
    margin-top: 10px;
    FONT-SIZE: 14PX !important;
    COLOR: #1a2780 !IMPORTANT;
}
.menu-link {
    font-size: 10px !important;
    font-family: arial !important;
}